<h1>Targets#index</h1>
<p>Find me in app/views/targets/index.html.erb</p>



<% @targets.each do |target| %>

	「目標目的」
	<%= target.target_purpose %></br>

	「貯金目標金額」
	<%= target.target_cost %></br>

    		<%= form_for @target_item, url: target_target_items_path(target) do |f| %>

			<%= f.label :貯金の追加 %>
			<%= f.text_field :target_by_month %>

			<%= f.hidden_field :target_id, value: target.id %>

			<%= f.submit "貯金" %>

		    <% end %>

	<% target.target_items.each do |target_item| %>


		「現在の貯金額」
		<%=  %>円</br>


		「残り金額」
		<%= target_item.target_balance %></br>



		<%= link_to "編集", edit_target_path(target.id) %></br>
		<%= link_to "削除", target_path(target.id), method: :delete %></br>


	<% end %>

<% end %>

<% @loans.each do |loan| %>

「目標目的」
<%= loan.loan_purpose %></br>

「返済総額」
<%= loan.loan_cost %></br>

「月の返済額」
<%= %>円/月</br>

「残り金額」
<%=  %></br>

<%= link_to "編集", edit_loan_path(loan.id) %></br>
<%= link_to "削除", loan_path(loan.id), method: :delete %></br>

<% end %>




