<div class="user-background">
	<div class="title">
	  <h1>User一覧</h1>
	</div>

	<div class="container">
		<div class="row user-row">
			<div class="col-xs-12">
			  <table class="users-green-table">
			  	<thead class="user-thead">
						<tr>
							<th>名前</th>
							<th>性別</th>
							<th>年齢</th>
							<th><!-- 家賃 --></th>
							<th>家族構成</th>
							<th class="user-index-btn"></th>
							<th class="user-index-btn"></th>
					  </tr>
					</thead>

          <tbody class="user-tbody">
          	<% @users.each do |user| %>

					  <tr>
							<td><%= user.name %></td>
							<td><%= user.sex %></td>
							<td><%= user.old %></td>
							<td><%#= user.fixed_cost.rent %><!-- 円 --></td>
							<td><%= user.member %>人</td>
							<td class="user-index-btn"><%= link_to "収入", income_path(user.id) %></td>
							<td class="user-index-btn"><%= link_to "支出", cost_path(user.id) %></td>
						</tr>

						<% end %>
          </tbody>

	　		  </table>

	    </div>
	  </div>
	</div>
</div>


