<div class="user-background">
  <div class="title">
    <h1>マイページ</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-5">

        <h3 class="table-title">個人情報</h3>

        <table class="user-green-table">
        	  <tr>
              <th>名前</th>
              <td><%= current_user.name %>　</td>
            </tr>

            <tr>
              <th>年齢</th>
              <td><%= current_user.old %>才</td>
            </tr>

            <tr>
              <th>性別</th>
              <td><%= current_user.sex %> </td>
            </tr>

            <tr>
              <th>職業（前職）</th>
              <td><%= current_user.job %>　</td>
            </tr>

            <tr>
              <th>預金額</th>
              <td><%= current_user.deposit %>円</td>
            </tr>

            <tr>
              <th>家族の人数</th>
              <td><%= current_user.member %>人</td>
            </tr>

            <tr>
              <th>メールアドレス </th>
              <td><%= current_user.email %>　</td>
            </tr>
        </table>

      </div>
    </div>
  </div>

  <div class="goal-btn">
    <%= link_to "編集", edit_user_path(current_user),class:'btn btn-success' %>
    <%= link_to "退会", user_path(current_user), method: :delete, class:'btn btn-danger' %>
  </div>

</div>