<div class="fixed-costs-title">
  <h1>収入の編集</h1>
</div>

<div class="container">
  <div class="row-fix">
    <div class="col-xs-12">

    <table>

        <tr>
          <th>日付</th>
          <td><%= @income_day %></td>
        </tr>

        <%= form_for(@income) do |f| %>

        <%= f.hidden_field :day ,value: @income_day %>

        <tr>
          <th>収入金額</th>
          <td><%= f.text_field :income %></td>
        </tr>

        <tr>
          <th>項目</th>
          <td>
            <ul class="income-item">

              <li class="income-items"><%= f.radio_button :income_item, "給料" %>給料
              </li>

              <li class="income-items">
              <%= f.radio_button :income_item, "手当て" %>手当て
              </li>

              <li class="income-items">
              <%= f.radio_button :income_item, "退職金" %>退職金
              </li>

              <li class="income-items">
              <%= f.radio_button :income_item, "その他" %>その他
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>メモ</th>
          <td><%= f.text_field :income_memo %></td>
        </tr>

      </table>

        <div class="goal-btn">
          <%= f.submit "登録" , class:'btn btn-primary'%>
        </div>
    <% end %>

    </div>
  </div>
</div>


