<div class="fixed-costs-title">
  <h1>固定費の編集</h1>
</div>

<%= form_for @fixed_cost, url: fixed_costs_path do |f| %>

<div class="container">
  <div class="row-fix">
    <div class="col-xs-5">

      <h4 class="fixed-table-title">固定費</h4>

      <table>

          <tr>
            <th>家賃</th>
            <td><%= f.text_field :rent %></td>
          </tr>

          <tr>
            <th>保険</th>
            <td><%= f.text_field :insurance %></td>
          </tr>

          <tr>
            <th>その他</th>
            <td><%= f.text_field :fixed_costs_other %></td>
          </tr>

      </table>
    </div>


    <%= fields_for @lifeline, url: lifelines_path do |c| %>

    <div class="col-xs-1"></div>

    <div class="col-xs-5">

      <h4 class="fixed-table-title">ライフライン</h4>

        <table>

          <tr>
            <th>電気</th>
            <td><%= c.text_field :electron %></td>
          </tr>

          <tr>
            <th>ガス</th>
            <td><%= c.text_field :gass %></td>
          </tr>

          <tr>
            <th>水道</th>
            <td><%= c.text_field :water %></td>
          </tr>

        </table>

    </div>
  </div>
</div>

<div class="fixed-edit">
  <%= f.submit "登録", class:'btn btn-success' %>
</div>

  <% end %>

<% end %>