<% if flash[:notice] %>
  <div class="fixed-cost-notice"><%= flash[:notice] %></div>
<% end %>

<div class="fixes-cost-background">
  <div class="fixed-costs-title">
    <h1>固定費の登録</h1>
  </div>

  <%= form_for @fixed_cost, url: fixed_costs_path do |f| %>

  <div class="container">
    <div class="row">
      <div class="col-xs-5">

        <h3 class="table-title">固定費</h3>

        <table class="communication-green-table">

          <tr>
            <th>家賃</th>
            <td><%= f.text_field :rent, class: "validate[required,custom[number]]" %>円</td>
          </tr>

          <tr>
            <th>保険</th>
            <td><%= f.text_field :insurance, class: "validate[required,custom[number]]" %>円</td>
          </tr>

          <tr>
            <th>その他</th>
            <td><%= f.text_field :fixed_costs_other, class: "validate[required,custom[number]]" %>円</td>
            </tr>

        </table>

    </div>

      <div class="col-xs-1"></div>

      <%= fields_for @lifeline, url: lifelines_path do |c| %>

      <div class="col-xs-5">

        <h3 class="table-title">ライフライン</h3>

        <table class="communication-green-table">

          <tr>
            <th>電気</th>
            <td><%= c.text_field :electron, class: "validate[required,custom[number]]" %>円</td>
          </tr>

          <tr>
            <th>ガス</th>
            <td><%= c.text_field :gass, class: "validate[required,custom[number]]" %>円</td>
          </tr>

          <tr>
            <th>水道</th>
            <td><%= c.text_field :water, class: "validate[required,custom[number]]" %>円</td>
          </tr>

        </table>

      </div>

      <% end %>

    </div>

    <div class="fixed-edit-btn">
      <%= f.submit "登録", class:'btn btn-success btn-block' %>
    </div>

  </div>



  <% end %>
</div>

