<div class="pro-cost-title">
  <h1>支出の編集</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

    <table class="pro-cost-red-table">

      <tr>
        <th>日付</th>
        <td><%= @income_day %></td>
      </tr>

      <%= form_for(@proportial_cost) do |f| %>

      <%= f.hidden_field :day ,value: @income_day %></td>

      <tr>
        <th>支出金額</th>
        <td><%= f.text_field :proportial_cost, class: "validate[required,custom[integer],max[0]]" %></td>
      </tr>

      <tr>
        <th>項目</th>
        <td>
            <ul class="pro-cost-item">

              <li class="pro-cost-items">
                <%= f.radio_button :proportial_cost_item, "食費", class: "validate[required]" %>食費
              </li>

              <li class="pro-cost-items">
                 <%= f.radio_button :proportial_cost_item, "交通費", class: "validate[required]" %>交通費
              </li>

              <li class="pro-cost-items">
                 <%= f.radio_button :proportial_cost_item, "交際費", class: "validate[required]" %>交際費
              </li>

              <li class="pro-cost-items">
                 <%= f.radio_button :proportial_cost_item, "日用品", class: "validate[required]" %>日用品
              </li>

              <li class="pro-cost-items">
                 <%= f.radio_button :proportial_cost_item, "その他", class: "validate[required]" %>その他
              </li>
            </ul>
          </td>
      </tr>

      <tr>
        <th>メモ</th>
        <td><%= f.text_field :proportial_cost_memo %></td>
      </tr>

      </table>

　　　<div class="pro-cost-create-btn">
       <%= f.submit "登録", class:'btn btn-primary btn-block' %>
     </div>

    <% end %>
    </div>
  </div>
</div>