<div class="fixed-costs-title">
  <h1>支出の編集</h1>
</div>

<div class="container">
  <div class="row-fix">
    <div class="col-xs-12">

    <table>

      <tr>
        <th>日付</th>
        <td><%= @income_day %></td>
      </tr>

      <%= form_for(@proportial_cost) do |f| %>

      <%= f.hidden_field :day ,value: @income_day %></td>

      <tr>
        <th>支出金額</th>
        <td><%= f.text_field :proportial_cost %></td>
      </tr>

      <tr>
        <th>項目</th>
        <td>
            <ul class="pro-cost-item">

              <li class="pro-cost-items">
                <%= f.radio_button :proportial_cost_item, "食費" %>食費
              </li>

              <li class="pro-cost-items">
                 <%= f.radio_button :proportial_cost_item, "交通費" %>交通費
              </li>

              <li class="pro-cost-items">
                 <%= f.radio_button :proportial_cost_item, "交際費" %>交際費
              </li>

              <li class="pro-cost-items">
                 <%= f.radio_button :proportial_cost_item, "日用品" %>日用品
              </li>

              <li class="pro-cost-items">
                 <%= f.radio_button :proportial_cost_item, "その他" %>その他
              </li>
            </ul>
          </td>
      </tr>

      <tr>
        <th>メモ</th>
        <td><%= f.text_field :proportial_cost_memo %></td>
      </tr>

      </table>

　　　<div class="goal-btn">
       <%= f.submit "登録", class:'btn btn-primary' %>
     </div>
    
    <% end %>
    </div>
  </div>
</div>