<% if flash[:notice] %>
  <div class="pro-cost-notice"><%= flash[:notice] %></div>
<% end %>

<div class="pro-cost-title">
  <h1>支出</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">

    <table class="pro-cost-red-table">

        <tr>
          <th>日付</th>
          <td><%= @income_day %></td>
        </tr>

        <%= form_for(@proportial_cost) do |f| %>

        <%= f.hidden_field :day ,value: @income_day %>

        <%= hidden_field_tag( 'day', @income_day) %>

        <tr>
          <th>支出金額</th>
          <td><%= f.text_field :proportial_cost, class: "validate[required,custom[integer],max[0]]" %>円</td>
        </tr>

        <tr>
          <th>項目</th>
          <td>
            <ul class="pro-cost-item">

              <li class="pro-cost-items">
                <%= f.radio_button :proportial_cost_item, "食費", class: "validate[required]" %>食費
              </li>

              <li class="pro-cost-items">
          	     <%= f.radio_button :proportial_cost_item, "交通費", class: "validate[required]" %>交通費
              </li>

              <li class="pro-cost-items">
          	     <%= f.radio_button :proportial_cost_item, "交際費", class: "validate[required]" %>交際費
              </li>

              <li class="pro-cost-items">
          	     <%= f.radio_button :proportial_cost_item, "日用品", class: "validate[required]" %>日用品
              </li>

              <li class="pro-cost-items">
          	     <%= f.radio_button :proportial_cost_item, "その他", class: "validate[required]" %>その他
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th>メモ</th>
          <td><%= f.text_field :proportial_cost_memo %></td>
        </tr>

        </table>

        <div class="pro-cost-create-btn">

           <%= f.submit "登録",class:'btn btn-primary btn-block' %>
           <%= link_to "収入画面へ", new_income_path(day: @income_day), class:"btn btn-warning btn-block",data: {"turbolinks"=>false} %>
        </div>

  <% end %>

    <table class="pro-cost-list-table">

        <tr>
          <th>日付</th>
          <th>収入金額</th>
          <th>項目</th>
          <th>メモ</th>
          <th></th>
          <th></th>
        </tr>


    <% @proportial_costs.each do |proportial_cost| %>

        <tr>
          <td><%= proportial_cost.day %></td>
          <td><%= proportial_cost.proportial_cost %></td>
          <td><%= proportial_cost.proportial_cost_item %></td>
          <td><%= proportial_cost.proportial_cost_memo %></td>
          <td><%= link_to "編集画面へ", edit_proportial_cost_path(proportial_cost, day: @income_day), class:'btn btn-primary',data: {"turbolinks"=>false} %></td>
          <td><%= link_to "削除へ", proportial_cost_path(proportial_cost), method: :delete, class:'btn btn-danger' %></td>
        </tr>

     <% end %>

    </table>



      </div>
    </div>
  </div>


