<div class="about-title">
	<h3>主な機能について</h3>
</div>

<div class="about">

	<div class="about-item">
	  <div class="img">
	  	<%= image_tag 'calendar.png', class: "img-box" %>
	  </div>
	  <div class="category">
	  	<h4>日々の収支をカレンダーに登録が可能</h4>
	  	<p>　カレンダーの日付をクリックすると、日々の収支を入力することができます。</br>入力が完了すると、カレンダーにその日の収支の合計金額が表示されます。</br>
	  	収入と支出の差がプラスであれば青、マイナスであれば赤、プラスマイナスゼロであればグレーで表示されます。</p>
	  </div>
	</div>

	<div class="about-item">
	  <div class="img">
	  	<%= image_tag 'cycle.png', class: "img-box" %>
	  </div>
	  <div class="category">
			<h4>当月の収入・支出を円グラフで見ることが可能</h4>
			<p>　登録した収支は、円グラフで確認ができます。カテゴリー別に収支が登録できるので収支のイメージが付きやすくなります。</p>
		</div>
	</div>

	<div class="about-item">
	  <div class="img">
	  	<%= image_tag 'enter.png', class: "img-box-small" %>
	  </div>
	  <div class="category">
			<h4>固定費・比例費を登録すれば、収支に反映される</h4>
			<P>　固定費や比例費を登録すれば、その金額も円グラフに反映されます。固定費には、「家賃、保険代、税金」、比例費には、「通信費、光熱費などのライフライン」などが含まれます。</P>
		</div>
	</div>

	<div class="about-item">
		<div class="img">
	  	<%= image_tag 'deposit.png', class: "img-box-small" %>
	  </div>
	  <div class="category">
			<h4>貯金・ローンの返済の登録が可能</h4>
			<p>　貯金・ローンの登録を行うことで、目標金額までの残金を管理することができます。貯金・ローンの返済を行うごとに円グラフへ金額が反映されます。</p>
		</div>
	</div>

	<div class="about-item">
		<div class="img">
	  	<%= image_tag '/aseets/stick.jpeg', class: "img-box" %>
	  </div>
	  <div class="category">
			<h4>当月の予算が登録でき、実際の支出と比較することが可能</h4>
			<p>　当月の予算を登録すれば、その日までの支出と比較することができます。どのカテゴリーの支出が超過しているのかを容易に確認することができます。</p>
		</div>
	</div>

</div>
