<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<div id="calendar"></div>

<form>
<input type="hidden" name="day" value="aaa">
</form>

<script>

</script>

<!--     $(function () {
        $("#calendar").fullCalendar({
            dayClick: function (d, a, j, v) {
                $("#calendar").fullCalendar("clientEvents", function (e) {
                    var clicked_day = moment(d).format("YYYY-MM-DD")
                    // var user_id = <%#= current_user.id %>;
                    clicked_day;
                });
            },
            // events: [{
            //     title: "出張",
            //     start: "2020-03-12",
            //     color: "#92d050"
            // }]
        });
    }); -->

<%= link_to "収入登録へ",new_income_path %></br>

<%= link_to "収入一覧へ",incomes_path %></br>

<%= link_to "支出登録へ",new_proportial_cost_path %></br>

<%= link_to "支出一覧へ",costs_path %></br>

<%= link_to "固定費・ライフライン登録へ",new_fixed_costs_path %></br>

<%= link_to "固定費・ライフライン詳細へ",fixed_costs_path %></br>

<%= link_to "固定費登録へ（loan.communication.tax）", new_loans_path %></br>

<%= link_to "固定費編集へ（loan.communication.tax）", edit_loans_path %></br>