<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<div id="calendar"></div>



<%= link_to "収入一覧へ",incomes_path %></br>

<%= link_to "支出一覧へ",costs_path %></br>

<%= link_to "固定費・ライフライン登録 or 一覧へ",new_fixed_costs_path %></br>

<%= link_to "固定費登録　or 一覧へへ（loan.communication.tax）", new_communication_path %></br>

<%= link_to "貯金登録へ",new_target_path %></br>

<%= link_to "ローン登録へ",new_loan_path %></br>

<%= link_to "貯金・ローン一覧へ",targets_path %></br>

