
<%= form_for @loan, url: loan_path do |f| %>

<table>

<tr>
  <th>ローン</th>
  <td><%= f.text_field :loan_purpose %></td>
</tr></br>

<tr>
  <th>返済金額</th>
  <td><%= f.text_field :loan_cost %></td>
</tr></br>

	<% fields_for @loan_item do |c| %>

		<tr>
		  <th>月の返済額</th>
		  <td><%= c.text_field :loan_by_month %></td>
		</tr></br>

	<% end %>

</table>

<%= f.submit "更新" %>

<% end %>