<div class="loan-title">
  <h1>ローン項目の編集</h1>
</div>

<%= form_for @loan, url: loan_path do |f| %>

<div class="container">
  <div class="row">
    <div class="col-xs-6">

      <h3 class="loan-table-title">項目と返済金額</h3>

			<table class="loan-item-red-table">

				<tr>
				  <th>ローン項目</th>
				  <td><%= f.text_field :loan_purpose, class: "validate[required]" %></td>
				</tr>

				<tr>
				  <th>返済金額</th>
				  <td><%= f.text_field :loan_cost, class: "validate[required,custom[number]]" %></td>
				</tr>

					<% @loan_items.each do |loan_item| %>
						<%= fields_for loan_item do |c| %>

							<tr>
							  <th><%= loan_item.created_at.strftime("%Y年%m月") %>の返済額</th>
							  <td><%= c.text_field :loan_by_month, class: "validate[required,custom[number]]" %></td>
							</tr>

						<% end %>
					<% end %>

			</table>

			<div class="loan-create-btn">
				<%= f.submit "更新", class:'btn btn-danger btn-block' %>
			</div>

		</div>
	</div>
</div>

<% end %>