<div class="loan-title">
	<h1>ローン項目の作成</h1>
</div>

<%= form_for @loan, url: loans_path do |g| %>

<div class="container">
  <div class="row">
    <div class="col-xs-6">

      <h3 class="loan-table-title">項目と返済金額</h3>

			<table class="loan-red-table">

				<tr>
					<th>ローン項目</th>
					<td><%= g.text_field :loan_purpose, class: "validate[required]" %></td>
				</tr>

				<tr>
					<th>返済金額</th>
					<td><%= g.text_field :loan_cost,class: "validate[required,custom[number]]" %></td>
				</tr>


				<%= fields_for @loan_item, url: loans_path do |c| %>

				<tr>
					<th>月の返済額</th>
					<td><%= c.text_field :loan_by_month, class: "validate[required,custom[number]]" %></td>
				</tr>

				<% end %>

			</table>

			<div class="loan-create-btn">
				<%= g.submit "登録", class:'btn btn-danger btn-block' %>
			</div>

		</div>
	</div>
</div>

<% end %>