<h1>Communications#edit</h1>
<p>Find me in app/views/communications/edit.html.erb</p>


<%= form_for @communication, url: communication_path do |c| %>

<table>

<tr>
  <th>携帯代</th>
  <td><%= c.text_field :phone %></td>
</tr>

<tr>
  <th>Wi-iI</th>
  <td><%= c.text_field :wi_fi %></td>
</tr>

<tr>
  <th>その他</th>
  <td><%= c.text_field :communications_other %></td>
</tr>

</table>

<%= fields_for @tax, url: communication_path do |d| %>

<table>

<tr>
  <th>健康保険</th>
  <td><%= d.text_field :health %></td>
</tr>

<tr>
  <th>年金</th>
  <td><%= d.text_field :pension %></td>
</tr>

<tr>
  <th>市民税/府民税</th>
  <td><%= d.text_field :resident %></td>
</tr>

<tr>
  <th>その他</th>
  <td><%= d.text_field :taxes_other %></td>
</tr>

</table>

<%= c.submit "登録" %>

<% end %>

<% end %>



