<div class="communication-background">
  <div class="communication-title">
    <h1>通信費・保険の登録</h1>
  </div>

  <%= form_for @communication, url: communication_path do |c| %>

  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <h3 class="communication-table-title">通信費</h3>

        <table class="communication-green-table">
          <tr>
            <th>携帯代</th>
            <td><%= c.text_field :phone, class: "validate[required,custom[onlyNumberSp]]"  %>円</td>
          </tr>

          <tr>
            <th>Wi-Fi</th>
            <td><%= c.text_field :wi_fi, class: "validate[required,custom[onlyNumberSp]]" %>円</td>
          </tr>

          <tr>
            <th>その他</th>
            <td><%= c.text_field :communications_other, class: "validate[required,custom[onlyNumberSp]]" %>円</td>
          </tr>
        </table>

      </div>

      <%= fields_for @tax, url: communication_path do |d| %>

      <div class="col-xs-2"></div>

      <div class="col-xs-5">

        <h3 class="communication-table-title">保険・税金</h3>

        <table class="communication-green-table">
          <tr>
            <th>健康保険</th>
            <td><%= d.text_field :health, class: "validate[required,custom[number]]" %>円</td>
          </tr>

          <tr>
            <th>年金</th>
            <td><%= d.text_field :pension, class: "validate[required,custom[number]]" %>円</td>
          </tr>

          <tr>
            <th>市民税/府民税</th>
            <td><%= d.text_field :resident, class: "validate[required,custom[number]]" %>円</td>
          </tr>

          <tr>
            <th>その他</th>
            <td><%= d.text_field :taxes_other, class: "validate[required,custom[number]]" %>円</td>
          </tr>
        </table>

      </div>
    </div>
  </div>

  <div class="commication-edit-btn">
    <%= c.submit "登録", class:'btn btn-success btn-block' %>
  </div>

      <% end %>
  <% end %>
</div>


