<div class="communication-title">
  <h1>通信費・保険の一覧</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-5">

      <h3 class="communication-table-title">通信費</h3>

      <table class="communication-green-table">

        <tr>
          <th>携帯代</th>
          <td><%= @communication.phone %></td>
        </tr>

        <tr>
          <th>Wi-iI</th>
          <td><%= @communication.wi_fi %></td>
        </tr>

        <tr>
          <th>その他</th>
          <td><%= @communication.communications_other %></td>
        </tr>

      </table>

    </div>

    <div class="col-xs-1"></div>

    <div class="col-xs-5">

        <h3 class="communication-table-title">保険・税金</h3>

        <table class="communication-green-table">

          <tr>
            <th>健康保険</th>
            <td><%= @tax.health %></td>
          </tr>

          <tr>
            <th>年金</th>
            <td><%= @tax.pension %></td>
          </tr>

          <tr>
            <th>市民税/府民税</th>
            <td><%= @tax.resident %></td>
          </tr>

          <tr>
            <th>その他</th>
            <td><%= @tax.taxes_other %></td>
          </tr>

        </table>

    </div>
  </div>
  <div class="commication-edit-btn">
    <%= link_to "編集画面へ", edit_communication_path, class:'btn btn-success btn-block',data: {"turbolinks"=>false} %>
  </div>
</div>



