<!DOCTYPE html>
<html>
  <head>
    <title>StepByStep</title>

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <script src="https://kit.fontawesome.com/f73465024a.js" crossorigin="anonymous"></script>
        <%= stylesheet_link_tag "application" %>
        <% self_css_path = "/assets/"+controller.controller_name %>
        <%= stylesheet_link_tag self_css_path, media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


        <!-- jQuery-Validation-Engine -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css" type="text/css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/languages/jquery.validationEngine-ja.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/jquery.validationEngine.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
          $(function(){
          $(".new_communication").validationEngine();
          $(".edit_communication").validationEngine();
          $(".new_fixed_cost").validationEngine();
          $(".edit_fixed_cost").validationEngine();
          $(".new_goal").validationEngine();
          $(".edit_goal").validationEngine();
          $(".new_income").validationEngine();
          $(".edit_income").validationEngine();
          $(".new_loan").validationEngine();
          $(".edit_loan").validationEngine();
          $(".new_loan_item").validationEngine();
          $(".edit_loan_item").validationEngine();
          $(".new_proportial_cost").validationEngine();
          $(".edit_proportial_cost").validationEngine();
          $(".new_target").validationEngine();
          $(".edit_target").validationEngine();
          $(".new_target_item").validationEngine();
          $(".edit_targer_item").validationEngine();
          $(".new_tax").validationEngine();
          $(".edit_tax").validationEngine();
          $(".new_user").validationEngine();
          $(".edit_user").validationEngine();
          });
        </script>

        <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">

  </head>

  <body>
        <div class="header-title">
          <%= link_to "Step by Step", homes_top_path %>
          <h4>家計簿のアプリ</h4>
          <div class="underline-title"></div>
        </div>

    <% if user_signed_in? %>

        <nav class="icon clearfix" >
            <ul class="header-item clearfix text-right">
              <li class="header-items btn" aria-hidden="true">
                <%= link_to "Calendar", homes_top_path %>
              </li>

              <li class="header-items btn" ">
                <%= link_to "About", homes_about_path %>
              </li>

              <li class="header-items btn" aria-hidden="true">
                <%= link_to "My page", user_path(current_user) %>
              </li>

              <li class="header-items btn" aria-hidden="true">
                <%= link_to "Users", users_path %>
              </li>

              <li class="header-items btn" aria-hidden="true">
                <%= link_to "logout", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
        </nav>


      <nav class="navbar clearfix ">
        <ul class="nav-list">

                <li class="nav-list-item">
                  <%= link_to "収入一覧",income_path(current_user),data: {"turbolinks"=>false} %>
                </li>

                <li class="nav-list-item">
                  <%= link_to "支出一覧",cost_path(current_user),data: {"turbolinks"=>false} %>
                </li>

                <li class="nav-list-item">
                  <%= link_to "固定費",new_fixed_costs_path %>
                </li>

                <li class="nav-list-item">
                  <%= link_to "通信費・保険", new_communication_path %>
                </li>

                <li class="nav-list-item">
                  <%= link_to "貯金設定",new_target_path %>
                </li>

                <li class="nav-list-item">
                 <%= link_to "ローン設定",new_loan_path %>
                </li>

                <li class="nav-list-item">
                  <%= link_to "貯金・ローン一覧",targets_path %>
                </li>

                <li class="nav-list-item">
                  <%= link_to "予算", new_goal_path %>
                </li>

        </ul>
      </nav>

    <% else %>

      <nav class="clearfix">
        <ul class="nav-list text-right">

              <li class="nav-list-item">
                <%= link_to "ログイン画面へ", new_user_session_path %>
              </li>


              <li class="nav-list-item">
                <%= link_to "新規登録", new_user_registration_path %>
              </li>

              <li class="nav-list-item">
                <%= link_to "about", homes_about_path %>
              </li>

        </ul>
      </nav>




    <% end %>

    <%= yield %>

    <footer>
      <span>created at  2020年3月31日</span>
    </footer>
  </body>
</html>


